<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="title" content="HTMXPRESS" />
    <meta
      name="description"
      content="Study project using HTMX, Express and Tailwind"
    />
    <meta name="keywords" content="htmx, express, tailwind, javascript" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta name="author" content="Leonardo Nicola" />
    <script
      src="https://unpkg.com/htmx.org@1.9.4"
      integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              sans: ["Inter", "sans-serif"],
            },
          },
        },
      }
    </script>
    <title>HTMXPRESS</title>
  </head>
  <body>
    <main class="mt-20">
      <header
        hx-get="http://localhost:3000/"
        hx-trigger="load"
        class="w-2/3 mx-auto mb-5 text-center"
      ></header>
      <div class="w-2/3 flex justify-center mx-auto">
        <button
          class="bg-blue-500 rounded-lg p-4 text-white font-semibold transition-all hover:bg-blue-600"
          hx-get="http://localhost:3000/users"
          hx-target="#fakeUsers"
          hx-swap="innerHTML settle:0.3s"
        >
          LOAD FAKE USERS
        </button>
      </div>
      <h1 class="text-2xl text-center font-bold mt-20 mb-5">
        List of fake users:
      </h1>
      <div id="fakeUsers" class="w-2/5 mx-auto"></div>
    </main>
  </body>
</html>
<style scoped>
  ul.htmx-added {
    opacity: 0;
  }
  ul {
    opacity: 1;
    transition: opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
</style>
